.header {
    .upHeader {
        border: 1.5px solid var(--darkBlue);
        border-radius: var(--borderRadiusClassic);
        h1 {
            text-align: center;
            color: var(--lightBlue);
        }
        h2 {
            text-align: center;
            color: var(--lightBlue);
        }
    }
    img {
        display: block;
        width: 40%;
        border-radius: 70px;
        margin: 0.4rem auto;
    }

}

@media (min-width: 375px) {
    .upHeader {
        margin: 0 5rem;
    }
}

@media (min-width: 425px) {
    .header {
        img {
            width: 22%;
        }
    }

}

@media (min-width: 768px) {
    .upHeader {
        margin: 0 15rem;
    }
    .header {
        img {
            width: 20%;
        }
    }
}

@media (min-width: 1024px) {
    .upHeader {
        margin: 0 23rem;
    }
    .header {
        img {
            width: 18%;
        }
    }
}

@media (min-width: 1440px) {
    .upHeader {
        margin: 0 35rem;
    }
}

@media (min-width: 2560px) {
    .upHeader {
        margin: 0 70rem;
    }
}