.langue {
    background-color: var(--grey50);
    border-radius: 10px;
    padding: 1rem 1rem;
    margin: 0 0.6rem;
    h1  {
        text-align: center;
        text-decoration: underline;
        color: var(--veryLightRed);
    }
    .francais {
        text-align: center;
        h2 {
            margin: 0;
        }
        .star-container {
            display: block;
            margin: 0.4rem auto;
        }
    }
    .allemand {
        text-align: center;
        h2 {
            margin: 0;
        }
        .star-container {
            display: block;
            margin: 0.4rem auto;
        }
    }
    .anglais {
        text-align: center;
        h2 {
            margin: 0;
        }
        .star-container {
            display: block;
            margin: 0.4rem auto;
        }
    }
}