/* CLASSES GENERAL */

// Underline

.underline {
    height: 3px;
    width: 95vw;
    background-color: var(--black);
    display: block;
    margin: 0 auto;
}

.underlineTitleCompetences {
    height: 2px;
    width: 60vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences2 {
    height: 2px;
    width: 10vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences3 {
    height: 2px;
    width: 20vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences4 {
    height: 2px;
    width: 14vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences5 {
    height: 2px;
    width: 10vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences6 {
    height: 2px;
    width: 15vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences7 {
    height: 2px;
    width: 15vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences8 {
    height: 2px;
    width: 15vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences9 {
    height: 2px;
    width: 25vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleFrancais {
    height: 2px;
    width: 25vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleAllemand {
    height: 2px;
    width: 25vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleAnglais {
    height: 2px;
    width: 25vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineFormation {
    height: 2px;
    width: 85vw;
    display: block;
    margin: 0 auto;
    background-color: var(--grey300);
}

.underlinePro {
    height: 2px;
    width: 85vw;
    display: block;
    margin: 0 auto;
    background-color: var(--grey300);
}

.underlineHobbies {
    height: 2px;
    width: 85vw;
    display: block;
    margin: 0 auto;
    background-color: var(--grey300);
}

// margin

.m1 {
    margin: 0.5rem auto;
}

// Star

.text-primary {
    color: yellow;
}