/* CLASSES GENERAL */

// Underline

.underline {
    height: 3px;
    width: 95vw;
    background-color: var(--black);
    display: block;
    margin: 0 auto;
}

.underlineTitleCompetences {
    height: 2px;
    width: 60vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences2 {
    height: 2px;
    width: 10vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences3 {
    height: 2px;
    width: 20vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences4 {
    height: 2px;
    width: 14vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences5 {
    height: 2px;
    width: 10vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences6 {
    height: 2px;
    width: 15vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences7 {
    height: 2px;
    width: 15vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences8 {
    height: 2px;
    width: 15vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleCompetences9 {
    height: 2px;
    width: 25vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleFrancais {
    height: 2px;
    width: 25vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleAllemand {
    height: 2px;
    width: 25vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineTitleAnglais {
    height: 2px;
    width: 25vw;
    display: block;
    margin: 0 auto;
    background-color: var(--lightBlue);
}

.underlineFormation {
    height: 2px;
    width: 85vw;
    display: block;
    margin: 0 auto;
    background-color: var(--grey300);
}

.underlinePro {
    height: 2px;
    width: 85vw;
    display: block;
    margin: 0 auto;
    background-color: var(--grey300);
}

.underlineHobbies {
    height: 2px;
    width: 85vw;
    display: block;
    margin: 0 auto;
    background-color: var(--grey300);
}

// margin

.m1 {
    margin: 0.5rem auto;
}

// Star

.text-primary {
    color: yellow;
}

@media (min-width: 321px) {
    .underlineTitleCompetences {
        width: 55vw;
    }
    
    .underlineTitleCompetences2 {
        width: 8vw;
    }
    
    .underlineTitleCompetences3 {
        width: 16vw;
    }
    
    .underlineTitleCompetences4 {
        width: 10vw;
    }
    
    .underlineTitleCompetences5 {
        width: 8vw;
    }
    
    .underlineTitleCompetences6 {
        width: 13vw;
    }
    
    .underlineTitleCompetences7 {
        width: 13vw;
    }
    
    .underlineTitleCompetences8 {
        width: 14vw;
    }
    
    .underlineTitleCompetences9 {
        width: 21vw;
    }
    .underlineTitleFrancais {
        width: 22vw;
    }
    
    .underlineTitleAllemand {
        width: 24vw;
    }
    
    .underlineTitleAnglais {
        width: 20vw;
    }
}

@media (min-width: 375px) {
    .underlineTitleCompetences {
        width: 52vw;
    }
    
    .underlineTitleCompetences2 {
        width: 7vw;
    }
    
    .underlineTitleCompetences3 {
        width: 13vw;
    }
    
    .underlineTitleCompetences4 {
        width: 9vw;
    }
    
    .underlineTitleCompetences5 {
        width: 7vw;
    }
    
    .underlineTitleCompetences6 {
        width: 10vw;
    }
    
    .underlineTitleCompetences7 {
        width: 10vw;
    }
    
    .underlineTitleCompetences8 {
        width: 13vw;
    }
    
    .underlineTitleCompetences9 {
        width: 20vw;
    }
    .underlineTitleFrancais {
        width: 21vw;
    }
    
    .underlineTitleAllemand {
        width: 23vw;
    }
    
    .underlineTitleAnglais {
        width: 19vw;
    }
}

@media (min-width: 321px) {
    .underlineTitleCompetences {
        width: 55vw;
    }
    
    .underlineTitleCompetences2 {
        width: 8vw;
    }
    
    .underlineTitleCompetences3 {
        width: 16vw;
    }
    
    .underlineTitleCompetences4 {
        width: 10vw;
    }
    
    .underlineTitleCompetences5 {
        width: 8vw;
    }
    
    .underlineTitleCompetences6 {
        width: 13vw;
    }
    
    .underlineTitleCompetences7 {
        width: 13vw;
    }
    
    .underlineTitleCompetences8 {
        width: 14vw;
    }
    
    .underlineTitleCompetences9 {
        width: 21vw;
    }
    .underlineTitleFrancais {
        width: 22vw;
    }
    
    .underlineTitleAllemand {
        width: 24vw;
    }
    
    .underlineTitleAnglais {
        width: 20vw;
    }
}

@media (min-width: 425px) {
    .underlineTitleCompetences {
        width: 46vw;
    }
    
    .underlineTitleCompetences2 {
        width: 6vw;
    }
    
    .underlineTitleCompetences3 {
        width: 12vw;
    }
    
    .underlineTitleCompetences4 {
        width: 8vw;
    }
    
    .underlineTitleCompetences5 {
        width: 6vw;
    }
    
    .underlineTitleCompetences6 {
        width: 8vw;
    }
    
    .underlineTitleCompetences7 {
        width: 8vw;
    }
    
    .underlineTitleCompetences8 {
        width: 12vw;
    }
    
    .underlineTitleCompetences9 {
        width: 16vw;
    }
    .underlineTitleFrancais {
        width: 19vw;
    }
    
    .underlineTitleAllemand {
        width: 21vw;
    }
    
    .underlineTitleAnglais {
        width: 17vw;
    }
}

@media (min-width: 768px) {
    .underlineTitleCompetences {
        width: 26vw;
    }
    
    .underlineTitleCompetences2 {
        width: 4vw;
    }
    
    .underlineTitleCompetences3 {
        width: 8vw;
    }
    
    .underlineTitleCompetences4 {
        width: 5vw;
    }
    
    .underlineTitleCompetences5 {
        width: 4vw;
    }
    
    .underlineTitleCompetences6 {
        width: 5vw;
    }
    
    .underlineTitleCompetences7 {
        width: 8vw;
    }
    
    .underlineTitleCompetences8 {
        width: 8vw;
    }
    
    .underlineTitleCompetences9 {
        width: 11vw;
    }
    .underlineTitleFrancais {
        width: 11vw;
    }
    
    .underlineTitleAllemand {
        width: 12vw;
    }
    
    .underlineTitleAnglais {
        width: 10vw;
    }
}

@media (min-width: 1024px) {
    .underlineTitleCompetences {
        width: 20vw;
    }
    
    .underlineTitleCompetences2 {
        width: 3vw;
    }
    
    .underlineTitleCompetences3 {
        width: 6vw;
    }
    
    .underlineTitleCompetences4 {
        width: 4vw;
    }
    
    .underlineTitleCompetences5 {
        width: 3vw;
    }
    
    .underlineTitleCompetences6 {
        width: 5vw;
    }
    
    .underlineTitleCompetences7 {
        width: 8vw;
    }
    
    .underlineTitleCompetences8 {
        width: 5vw;
    }
    
    .underlineTitleCompetences9 {
        width: 7vw;
    }
    .underlineTitleFrancais {
        width: 8vw;
    }
    
    .underlineTitleAllemand {
        width: 9vw;
    }
    
    .underlineTitleAnglais {
        width: 8vw;
    }
}

@media (min-width: 1440px) {
    .underlineTitleCompetences {
        width: 14vw;
    }
    
    .underlineTitleCompetences2 {
        width: 2vw;
    }
    
    .underlineTitleCompetences3 {
        width: 4vw;
    }
    
    .underlineTitleCompetences4 {
        width: 3vw;
    }
    
    .underlineTitleCompetences5 {
        width: 2vw;
    }
    
    .underlineTitleCompetences6 {
        width: 3vw;
    }
    
    .underlineTitleCompetences7 {
        width: 8vw;
    }
    
    .underlineTitleCompetences8 {
        width: 4vw;
    }
    
    .underlineTitleCompetences9 {
        width: 5vw;
    }
    .underlineTitleFrancais {
        width: 6vw;
    }
    
    .underlineTitleAllemand {
        width: 6vw;
    }
    
    .underlineTitleAnglais {
        width: 5vw;
    }
}

@media (min-width: 2560px) {
    .underlineTitleCompetences {
        width: 8vw;
    }
    
    .underlineTitleCompetences2 {
        width: 1vw;
    }
    
    .underlineTitleCompetences3 {
        width: 2vw;
    }
    
    .underlineTitleCompetences4 {
        width: 1.5vw;
    }
    
    .underlineTitleCompetences5 {
        width: 1.5vw;
    }
    
    .underlineTitleCompetences6 {
        width: 3vw;
    }
    
    .underlineTitleCompetences7 {
        width: 8vw;
    }
    
    .underlineTitleCompetences8 {
        width: 2vw;
    }
    
    .underlineTitleCompetences9 {
        width: 2.5vw;
    }
    .underlineTitleFrancais {
        width: 3vw;
    }
    
    .underlineTitleAllemand {
        width: 4vw;
    }
    
    .underlineTitleAnglais {
        width: 2.5vw;
    }
}